<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Obfuscate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Obfuscate.Properties.Settings>
			<setting name="InitialPath" serializeAs="String">
				<value>C:\projects</value>
			</setting>
			<setting name="CompilerOptions" serializeAs="String">
				<value>/optimize /target:winexe</value>
			</setting>
		</Obfuscate.Properties.Settings>
	</userSettings>
	<!--<system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default"/>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
      </listeners>
    </trace>
  </system.diagnostics>-->
	<startup/></configuration>
